@import "tailwindcss";

@theme {
  --color-apple-50: #f0ffe5;
  --color-apple-100: #deffc7;
  --color-apple-200: #beff95;
  --color-apple-300: #95fe58;
  --color-apple-400: #6ff526;
  --color-apple-500: #4edc06;
  --color-apple-600: #38b000;
  --color-apple-700: #2c8506;
  --color-apple-800: #27690b;
  --color-apple-900: #23580f;
  --color-apple-950: #0d3201;

  --color-bondi-50: #ebfeff;
  --color-bondi-100: #cdfbff;
  --color-bondi-200: #a1f6ff;
  --color-bondi-300: #60eeff;
  --color-bondi-400: #18ddf8;
  --color-bondi-500: #00c0de;
  --color-bondi-600: #0090b0;
  --color-bondi-700: #087996;
  --color-bondi-800: #10627a;
  --color-bondi-900: #125167;
  --color-bondi-950: #053547;

  --color-background: #F9F4E7;
}

body {
  @apply bg-background;
}